<!DOCTYPE html>
<html lang="en">
<!-- Name: Sanketkumar Vagadiya
Id: 300991500 
Date March 28 2019
-->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/Content/style.css" />
 
  <!--this stylesheets are for the new icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/v4-shims.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/">
    <img class="img-logo" src="/assets/images/logo.png" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Home
            <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="fa fa-align-right"></i> About Me</a>
        </li>

        <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" href="/my-projects"><i class="fa fa-folder"></i> My Projects</a>
        </li>

        <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" href="/services">
            <i class="fa fa-safari"></i> My Services</a>
        </li>

        <li class="nav-item active">
        <li class="nav-item">
          <a class="nav-link" href="/contact-me"><i class="fa fa-phone-square"></i> Contact Me</a>
        </li>
      </ul>
    </div>
  </nav>


  