<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/">
    <img class="img-logo" src="/assets/images/logo.png" />
    </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"
          ><i class="fas fa-home"></i> Home
      </a>

      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">
          <i class="fa fa-align-right"></i> About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects"
          ><i class="fa fa-folder"></i> Projects</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services"
          ><i class="fab fa-safari"></i> Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact"
          ><i class="fa fa-phone-square"></i> Contact</a
        >
      </li>


        <li *ngIf="isLoggedIn()" class="navbar-text text-success ml-5 mr-5 d-none d-lg-inline"><i class="fas fa-lg fa-user"></i>
          Hello, {{ user.displayName }}</li>

        <li *ngIf="isLoggedIn()" class="nav-item"><a (click)="onLogoutClick()" routerLink="/logout" class="nav-link">
          <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>

        <li *ngIf="!isLoggedIn()" class="nav-item"><a routerLink="/login" class="nav-link">
          <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>

    </ul>
  </div>
</nav>
