<!-- Name: Sanketkumar Vagadiya
Id: 300991500 
 Date March 30 2019
-->

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md">
                <img src="../assets/images/sanket.jpg"
                    width="540px" height="720px">
            </div>
            <div class="col-md">
                <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <h2 class="align-left">
                        Sanketkumar Vagadiya</h2>
                    <div class="divider colored"></div>
                    <h5 class="align-left">
                        Mobile Application Developer</h5>
                    <hr class="my-4" />

<!-- info about me -->
                    <p class="align-left">
                        I am currently enrolled in Software Engineering Technology Fast-Track program at a Centennial
                        College and has completed his Bachelor’s of Engineering in Computer Science Gujarat
                        Technological
                        University, India.
                        <br /> 
                        I have worked with <a href="https://wimtach.centennialcollege.ca/" target="_blank">WIMTACH</a> on a cross-platform mobile application which was
                        created to assist parents of a newly born child to track the breastfeeding activities, sleep and
                        growth of the infant which also makes use of Cloud Services.

                        <br/>                        
                        <br/>
<!-- my skill list -->

                    <div class="list-body ">
                        <h5>Skills/Highlights</h5>
                        <ul>
                            <i class="fa fa-check"></i> Cross-Platform Application Developer
                            <br/>
                            <i class="fa fa-check"></i> Microsoft Azure and Amazon AWS API Cloud services
                            <br/>
                            <i class="fa fa-check"></i> Full stack Android Developer
                            <br/>
                            <i class="fa fa-check"></i> MEAN stack Developer
                        </ul>
                    </div>
                  <a class="btn btn-outline-secondary btn-lg" href="https://scvagadiya.files.wordpress.com/2019/02/sanket-vagadiya.pdf" target="_blank" role="button">Resume</a>
                     <br/> 
                </div>
            </div>
        </div>
    </div>
</div>



