 <!-- Name : Sanket Vagadiya
 Id : 300991500
 Date March 30, 2019 -->
 <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">Sanket Vagadiya</h1>
          <hr class="my-4" />
          <p>
            <h5> Welcome to my site!
              <br /><br />My name is Sanket, Here you will find my projects, about my self and my contact information.Find
              more information at about me.
              <br />
              <br />
              <a class="btn btn-outline-secondary btn-lg" href="/about" role="button">About Me</a>
            </h5>
          <p class="lead">
            <blockquote>
              <h5>My Mission</h5>
              <p>"Learn from everyone, be better than you were yesterday."</p>
            </blockquote>
      
        </div>
      </div>
      
      