<div class="container">
    <div class="jumbotron">
  
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
  
  
        <div class="row">
          <div class="col-md-4">
            <h1 class="display-4">Contact Me</h1>
            <hr class="my-4" />
            <p class="lead">
  
              <h5>Name: Sanketkumar Vagadiya</h5>
              <br />
              <h5>Email: scvagadiya@gmail.com</h5>
              <br />
              <h5>Phone: 647-901-0329</h5>
  
          </div>
  
          <div class="col-md-8">
            <form>
  
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="firstname">First Name</label>
                  <input type="text" class="form-control" id="firstname" placeholder="Your Firstname" required autofocus>
                </div>
                <div class="form-group col-md-4">
                  <label for="lastname">Last Name</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Your Lastname">
                </div>
              </div>
  
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="some@example.com" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="phone">Phone</label>
                  <input type="number" class="form-control" id="phone" placeholder="Phone">
                </div>
               
              </div>
  
              <div class="form-row">
                  <div class="form-group col-md-8">
                    <label for="message">Message</label>
                    <textarea  type="text" rows=3 class="form-control" id="message" placeholder="Your Message" required></textarea>
                  </div>
                  
                </div>
    
            <a href="/contact-me/sendcontact" class="btn btn-outline-primary">Send</a>
          </form>
  
        </div>
  
      </div>
  </div>

<div *ngIf="isLoggedIn()" class="container">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header alert-success">Secure</h5>
        <div class="card-body">
          <a routerLink="contact-list" class="btn btn-primary"><i class="fas fa-users fa-lg"></i> Contact List</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

<!-- The social media icon bar -->
   <div class="icon-bar">
      <a href="https://www.facebook.com/Vagadiya.vagadiya/" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.instagram.com/sanku_vagadiya/" class="instagram" target="_blank"><i
          class="fab fa-instagram fa-3x"></i></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/sanket-vagadiya/" class="linkedin" target="_blank"><i
          class="fab fa-linkedin fa-3x"></i></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.youtube.com/channel/UCfkqZ1R5yoJt2_F_LBczaaA/videos" target="_blank" class="youtube"><i
          class="fab fa-youtube fa-3x"></i></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.github.com/sanket293?tab=repositories" target="_blank" class="github"><i
          class="fab fa-github fa-3x"></i></a>

    </div>
</div>