<!-- Name: Sanketkumar Vagadiya
Id: 300991500 
Date March 30 2019
-->



<div class="container">
   <h1 class="display-4">My Projects</h1>

    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="rounded-circle" back>
                    <img src="../assets/images/WombtoWorld/w2w.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Womb to World</h5>
                        <p class="card-text">WombtoWorld is an cross-platform application created in Xamarin form using
                            C#.
                            <br />This application helps to keep records of newly boarn babies by their parents.
                            <br />More screenshot is availabe below:
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../assets/images/success/success.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Success Quotes</h5>
                    <p class="card-text">
                        Success Quotes is an Android Application created in Java.
                        <br /> I have use Google Firebase database to store quotes.
                        <br /> In this app User can select wallpaer and create their own image and share with others.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="../assets/images/sudoku/sudoku.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Sudoku</h5>
                    <p class="card-text">
                        Sudoku is a 2D number puzzle game created using Android studio and SQLite.
                        <br />In this game user have to enter number from 0-9 in blank spaces.
                        <br />Sudoku provides Hint and Reset features to users.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
