<!-- Name: Sanketkumar Vagadiya
Id: 300991500
Date March 30 2019
 -->


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">My Services</h1>
        <hr class="my-4" />

        <ul class="list-group">
            <li class="list-group-item"><i class="fab fa-android" aria-hidden="true"></i> Android Application development
            </li>
            <li class="list-group-item"><i class="fas fa-mobile"></i> Cross-platform Mobile Development</li>
            <li class="list-group-item"><i class="fas fa-fire"></i> Google Firebase Integration</li>
            <li class="list-group-item"><i class="fab fa-aws"></i> AWS and Cloud integration</li>
            <li class="list-group-item"><i class="fab fa-node"></i> Node JS Development</li>
            <li class="list-group-item"><i class="fas fa-database"></i> Database Integration</li>
            <li class="list-group-item"><i class="fab fa-adobe"></i> Graphics Designing</li>

        </ul>

    </div>
</div>